---
import GuideLayout from '@/layouts/GuideLayout.astro';
import { BwCallout } from '@/components/bw/index';
---

<GuideLayout title="トゲナシトゲアリ 上海演唱会快速指南 - 魔都ACGN资讯站">
  <h1>TOGENASHITOGEARI 上海演唱会 快速指南</h1>
  <p><strong>VERSION.20241210</strong></p>

  <BwCallout type="warn">
    <div class="t">⚠️重要提醒</div>
    <b>本文档已归档，页面内容不再具有参考价值！！！</b>
  </BwCallout>

  <h2>特别感谢</h2>
  <ul>
    <li><strong>魔都ACGN①-⑤群小伙伴们</strong> - 意见收集、初审排错</li>
    <li><strong>@红暮、@Rogers、@酪西瓜</strong> - 网站运维、技术支持</li>
    <li><strong>@沐雪、@诗酒落英</strong> - 内容撰写、文档排版</li>
  </ul>

  <h2>1、TOGENASHITOGEARI 是谁？</h2>
  <p>TOGENASHI TOGEARI 是《GIRLS BAND CRY》及其衍生作品的登场乐队，同时也是企划下的真实女子乐队。</p>

  <h2>2、Live in SHANGHAI 『凛音の理』</h2>
  <p>上海演唱会将在 2024-12-14/15 举行。</p>

  <h3>关于入场</h3>
  <ul>
    <li>演唱会采取强实名制入场规则：人证合一</li>
    <li>VIP票按纸质票上的入场序号有序排队入场</li>
    <li>普通票按当天排队顺序入场，谢绝夜排或代排</li>
  </ul>

  <h3>见送会</h3>
  <p>仅针对VIP票购票观众，在当天演出结束后进行。</p>

  <BwCallout type="warn">
    <div class="t">注意</div>
    演唱会门票均已售罄，现场不设当日券贩售。
  </BwCallout>
</GuideLayout>
